# Flask Framework
click==7.1.2
gunicorn
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1

tensorflow-cpu
keras
numpy
pillow
scipy
h5py
matplotlib
opencv-python
keras-resnet
imageai